[2018-10-30 12:41] aschrijver opened #1 "Create fully functional landing page"
Need to further adapt the landing page, to have it ready for first use.

- [x] Create top-nav structure
- [x] Create 'Apply Humane Technology' intro text
- [x] Define a 'Join Us' page
- [x] Create 'Share Our Message' section
- [x] Update footer with informative links
- [x] Add CC0 and MIT combined licensing
- [x] Page cleanup

[2018-10-30 12:43] aschrijver opened #2 "Use the minimal possible Fontawesome icon inclusion"
Need to check the best way to include the (small amount of) Font Awesome icon.
Currently 400kb is downloaded (the full thing)

[2018-10-30 12:44] aschrijver opened #3 "Optimize images for web and check if compression is possible"
All images have not yet been optimized for web use. Also all data from the server is sent in uncompressed form.

[2018-10-30 12:45] aschrijver opened #4 "Optimize Open Graph metadata to HTML headers"
Add sufficient Open Graph and other `meta` tags to the HTML header.

[2018-10-30 12:47] aschrijver opened #5 "Check how to add pages from multiple repositories"
Would be great if it was possible to show pages from Markdown documents residing in other community projects, e.g. Awareness Campaigns.

Maybe by using `git-subrepo`? Need to investigate + test.

[2018-10-30 12:49] aschrijver opened #6 "Set individual button colors via CSS classes, not style attribute"
On the landing page `index.html` the buttons have individual colors. They are set temporily by setting the `style` attribute. But then the button loses the `:hover` color, so it should be set by stylesheet classes.

[2018-10-30 15:22] aschrijver commented on #4
Most important Open Graph info is present, but needs to be further improved:

[code]

[2018-10-30 15:56] #1 closed, assigned to aschrijver

[2018-10-30 17:27] aschrijver opened #7 "Add Favicon with community logo"
Self-describing title.

[2018-10-30 17:28] aschrijver commented on #4
Does not work on WhatsApp yet, or it is a cache issue.
Looked at details here: https://stackoverflow.com/questions/25100917/showing-thumbnail-for-link-in-whatsapp-ogimage-meta-tag-doesnt-work#32154775

[2018-11-07 14:40] aschrijver opened #8 "Create an area on the landing page for active content"
Part of #12

The landing page as it currently stands is too much static content. It needs at least one area where chaning content is displayed that entices users to drill down into the site, as it grows into an ever larger knowledge base.

[2018-11-07 14:41] aschrijver opened #9 "Add an 'Under Construction' notification to the landing page"
Currently only the landing page is working properly, but this is not clear to early-bird visitors.

[2018-11-10 19:13] aschrijver opened #10 "Add rel="me" to social media links"
In order to validate links of social media channels a `rel="me"` attribute should be added to the links in the footer.

See also: http://microformats.org/wiki/rel-me

[2018-11-14 12:04] #9 closed, assigned to nobody

[2018-11-14 13:24] #10 closed, assigned to nobody

[2018-11-14 20:53] aschrijver commented on #7
Done, using some best-practices from https://github.com/audreyr/favicon-cheat-sheet

[2018-11-14 20:55] #7 closed, assigned to nobody

[2019-01-10 14:00] aschrijver opened #11 "Create a page for ordering Community Goodies"
As part of the [Goodies](https://community.humanetech.com/t/goodies-promotional-materials-for-the-humane-tech-community/3222) campaign (see also: https://github.com/humanetech-community/humanetech-community-awareness/issues/65) there should be a page where goodies (such as the [I'm Here Now T-shirt](https://community.humanetech.com/t/im-here-now-t-shirt-project/3153) are presented and that leads t

[2019-01-19 21:19] aschrijver commented on #2
What may be better is considering to use Fork Awesome - a libre fork of font awesome - instead. See: https://github.com/ForkAwesome/Fork-Awesome

[2019-04-19 07:31] aschrijver opened #12 "Create community website MVP"
This is a top-level issue to track development of the Minimum Viable Product of the Community Website. It should be finished by 23th of April.

## Tasks

- [x] MVP Quick fixes to remove e.g. broken links and show some content in empty pages
  - [x] Remove the tags + categories in current blog posts (non-MVP) (#48)
  - [x] Add contents to the "Docs" toplevel page to introduce focus area's (#49)
  -

[2019-04-19 07:31] aschrijver commented on #12
# Requirements for the landing page

- Conveys the message that is in [**Be a Builder :heart: Help Improve Wellbeing, Freedom and Society**](https://community.humanetech.com/t/be-a-builder-help-improve-wellbeing-freedom-and-society/3322)

- Mentions and explains the Vision of _"Ubiquitous Humane Technology that Stimulates Humans to Flourish and Humanity to Thrive."_

- Mentions and explains the Mi

[2019-04-19 07:35] aschrijver opened #13 "Adapt existing draft website to the new Mission and Vision"
(Sub-issue part of https://github.com/humanetech-community/community-hub/issues/12)

Easiest way to create a MVP would be to derive it from the current landing page at https://humanetech.community/

- Remove the photo header. Having a photo in the header means there should be a UX designer at work to match the color scheme.

- Create a simple header logo that has the - maybe - the compound pyramid

[2019-04-19 07:40] aschrijver commented on #13
The basics are in place. The new landing page is ready, but needs to be further worked on. The Docs structure reflects the four pyramids and their sub-categories, which are the same as in the new forum structure.

Here is the screen capture of the new landing page, as it looks now:

![draft landing page](https://discourse-cdn-sjc2.com/standard10/uploads/humanetech/original/2X/a/a4079a2f2ee15a8946e

[2019-04-19 07:40] #13 closed, assigned to nobody

[2019-04-19 08:10] aschrijver commented on #12
When taking up any of the issues from the top-level list, then do the following:

- Create a new Github issue, and use the same title as in the list above.
- Add a link to this issue in the issue you are creating (creates cross-reference)
- Create a short task description of what you are about to do, so others are in the loop when reading
- Assign the issue to yourself, and drag the issue in the T

[2019-04-19 08:49] micheleminno opened #14 "Run the website locally"
Right now only @aschrijver has access/write privileges to upload changes on the server.
But anyone can run the site locally and see how the changes done on the code apply
(Full instructions [here](https://jekyllrb.com/)).

Once you created the local folder for the website, you have to clone the code here in the community-hub repository:

`git clone https://github.com/humanetech-community/community

[2019-04-19 08:51] micheleminno commented on #14
Is that right, @aschrijver ?

[2019-04-19 09:42] micheleminno opened #15 "Create short summary text intros for each pyramids on index.html"
From #12

Add some description to each pyramid page, reachable by clicking on the correspondent button here:

![Screenshot 2019-04-19 at 11 41 44](https://user-images.githubusercontent.com/832220/56418733-206bd680-6298-11e9-9f4c-f9fede1d9b4d.png)

[2019-04-19 09:54] aschrijver commented on #14
This is not accurate. There are 3 maintainers of this repository, @micheleminno @gkrishnaks and @aschrijver which means we can make direct commits to the repo.

But anyone else can fork the repository, commit changes to their fork, then create a Pull Request (PR) to have the changes be reviewed by one of the maintainers who can merge the changes to the production website.

[2019-04-19 09:58] aschrijver commented on #14
If you install Jekyll, then you can start local development with this command:

`jekyll serve --incremental`

If you make changes to the Navigation or Stylesheets (SaSS) then you need to stop Jekyll, and do a

`jekyll clean`

before starting again, to ensure you see your changes.

This website is based on the following project, where you will find a lot of instructions on how to make changes: http

[2019-04-19 10:02] micheleminno commented on #14
I don't mean the github repo, I mean the actual server where https://humanetech.community runs from (is there such a server? Or is it run directly from the github repo?)

[2019-04-19 10:02] micheleminno commented on #14
By the way I managed to run the website locally, I'm working on #15

[2019-04-19 10:03] aschrijver commented on #14
Github is running this server. This is part of the Github Pages feature. That is why this option - using Jekyll - is so attractive. So I do not have a server that runs this.

[2019-04-19 10:06] micheleminno commented on #14
Ok, so every time anyone of the three of us commits something, it automatically updates the website. As it does locally if you installed Jekyll locally.

[2019-04-19 10:07] aschrijver commented on #14
Yes indeed. And the same occurs when accepting + merging a PR of someone else.

[2019-04-19 10:07] micheleminno commented on #14
Ok, just to clarify all contributing process. I can close this.

[2019-04-19 10:07] #14 closed, assigned to nobody

[2019-04-19 10:08] aschrijver commented on #14
We can document procedures in the README.md so it is clear for others. Could make that a separate task issue.

[2019-04-19 10:12] micheleminno opened #16 "Update README file with the procedures to contribute on the website code"
See comments on #14

[2019-04-19 10:15] aschrijver commented on #14
Note: This only works if you are a maintainer of the repository. Otherwise you should first create a Fork of the repository, and then clone that fork to a local folder. You then have the option to commit changes to your fork and from the Github UI create a Pull Request with these changes to the original repo.

This procedure needs to be elaborated a bit further, especially the part to synchronize

[2019-04-19 10:34] micheleminno commented on #15
@aschrijver how can I correctly add an image in the [focus page](https://humanetech.community/focus/wellbeing/)?

[2019-04-19 10:37] aschrijver commented on #15
I am not sure, because there are multiple ways. You should read the `minimal mistakes` instructions, and play with the concepts for a bit.

One way to add would be using regular (github-flavored) Markdown notation to have the image inline with the text, but there are also layouts that you can use (similar to the front page). For me Jekyll and Python is as new as it is for you.

https://mmistakes.g

[2019-04-19 10:39] micheleminno commented on #15
I did that:

`![pyramid-of-wellbeing|690x362](/assets/images/humanetech-pyramid-of-wellbeing-tinted-bare.png)`

but apparently it doesn't work. I thought I did some trivial error i.e. about the local image url.

Ok I'll figure it out.

[2019-04-19 10:47] aschrijver commented on #15
Yea, I think it is something with the proper path you have to set. Also the image size will not work, I think.. this is Discourse markdown, not github-flavored (not sure for Jekyll, though).

Also if you need more images I uploaded all the images to: https://github.com/humanetech-community/styleguide/tree/master/community-artwork/humanetech-pyramids

If you use other images, then track where you g

[2019-04-19 10:51] micheleminno commented on #15
Yes it was that, thank you:

https://humanetech.community/focus/wellbeing/

[2019-04-20 06:33] aschrijver commented on #15
Very well done, Michele

[2019-04-20 06:36] aschrijver opened #17 "Write an introduction in Markdown that gives an overview of HTC"
Part of top-level issue https://github.com/humanetech-community/community-hub/issues/12

I will derive the introduction from the current "Be a builder" pinned message on the forum.

[2019-04-20 08:39] #15 closed, assigned to micheleminno

[2019-04-20 08:52] aschrijver opened #18 "Move to use 'Authors' only for attributed (Blog) pages, and have a generic site author"
Part of https://github.com/humanetech-community/community-hub/issues/12

Currently the site author has my name to it. This should be generalized to a common HTC credential.

For the Blog section - where people do get attributed - the 'Authors' document should be created such that this attribution works appropriately.

[2019-04-20 08:54] aschrijver opened #19 "Write the text for the Join Our Community page"
Part of https://github.com/humanetech-community/community-hub/issues/12

I will use the already written first blog post and transform it into a 'Join Us' page.

[2019-04-20 08:58] aschrijver commented on #17
Change of plan. The first blog post will become the 'Join Us' page, and as a first blog post I will add the 'Small Is Huge' article that I had written with the HTC blog in mind (but not published because the site overhaul was still in the works). This article also contains introduction of the Pyramids model.

[2019-04-20 09:09] micheleminno opened #20 "Create text descriptions for each pyramid category on their specific pages"
From #12

Assign each category page a description.

[2019-04-20 09:19] aschrijver commented on #20
I didn't intend to be this issue for giving each category a description. But the landing page itself (index.html) should have very short texts that describe each section.

This is the screenshot you made on https://github.com/humanetech-community/community-hub/issues/15 where the texts are still left-overs from the old site.

[2019-04-20 09:28] micheleminno commented on #20
I intend this issue as adding a description to each category page, I'm doing it.
I'll change the issue title.

[2019-04-20 09:37] aschrijver opened #21 "Update landing page short pyramid description texts"
Part of https://github.com/humanetech-community/community-hub/issues/12

The landing page still has the old texts for the 4 pyramid sections. They should be replaced with appropriate introduction to each of the 4 focus area's. Only very small texts are fitting here.

[2019-04-20 09:59] micheleminno commented on #20
Check any contribution from [this thread](https://community.humanetech.com/t/contributions-sought-to-describe-each-category-in-our-new-future-htc-category-structure/3810).

[2019-04-20 10:16] aschrijver commented on #18
The 'Site author' is now the community team in general.

In the `_data/authors.yml` we can include the people that write blogs and pages on the site that can have their names displayed. For Avatar images there is a location in `assets/images/people`.
The file `_includes/author-profile.html` displays all the link types that are supported out-of-the-box. I added a new type `forum` to refer to the Di

[2019-04-20 10:18] #18 closed, assigned to aschrijver

[2019-04-20 10:35] aschrijver opened #22 "Add left-hand navigation for the About section sub-pages"
Part of https://github.com/humanetech-community/community-hub/issues/12

A number of sub-pages can be defined in the 'About' site section:

- Code of Conduct
- Privacy Policy
- Contribution Guidelines
- FAQ

[2019-04-20 11:04] aschrijver commented on #22
I did not yet add 'Contribution Guidelines' as they are dealing solely with forum editing still.

[2019-04-20 11:04] #22 closed, assigned to aschrijver

[2019-04-20 11:39] aschrijver commented on #19
I added sufficient text to serve as a good Join the HTC page. Closing issue.

[2019-04-20 11:39] #19 closed, assigned to aschrijver

[2019-04-20 14:11] micheleminno opened #23 "Add Code of Conduct latest version as a sub-page of About page"
From #12

Code of Conduct is now here:

https://github.com/humanetech-community/engagement-ideas/blob/master/ongoing/code-of-conduct.md

[2019-04-20 14:14] #23 closed, assigned to micheleminno

[2019-04-20 14:15] micheleminno opened #24 "Add a reference to Code of Conduct to forum menu (Admin task)"

[2019-04-20 14:30] #24 closed, assigned to micheleminno

[2019-04-20 14:40] micheleminno opened #25 "Add a list of 'Our Stories' with links to forum member posts and an excerpt"
From #12

[2019-04-20 17:44] aschrijver commented on #17
The blog post is available at: https://humanetech.community/general/small-is-huge/

**Note**: The URL is derived from metadata, but for blog posts a separate URL scheme needs to be set. Will create another issue for that.

[2019-04-20 17:44] #17 closed, assigned to aschrijver

[2019-04-20 17:47] aschrijver opened #26 "Create an appropriate URL scheme for blog posts"
Currently blog posts are given an URL based on the category they are assigned to, like this:

`https://humanetech.community/general/small-is-huge/`

A better scheme for blog posts will create URL's based on month and year of the publish date, like this:

`https://humanetech.community/2019/04/small-is-huge/`

Need to find out if that is supported automatically, or needs to be manually specified spe

[2019-04-20 18:58] aschrijver opened #27 "Add a list of most relevant books"
Part of #12

Collect interesting books from the forum topics,..
Create a nice list with descriptions.

[2019-04-20 23:11] aschrijver opened #28 "Fix the 'previous' and 'next' navigation or remove it"
The navigation to previous and next pages is not working properly. For example this page:

`https://humanetech.community/focus/harms-of-technology/`

Has previous page be `Pyramid of Technology Alignment` (which is correct), but next leads to `Pyramid of Freedom / Openness`

[2019-04-21 12:34] aschrijver opened #29 "LinkedIn does not show an Open Graph link preview of the site"
The website has an `og:image` Open Graph image configured in `_config.yml`, and that is this image: [humane-tech-community-ogimage.png](https://github.com/humanetech-community/community-hub/blob/master/assets/images/humane-tech-community-ogimage.png).

It shows up in link previews on the Discourse forum, so it works. But LinkedIn shows a blank grey space, instead of the image. Might be the notorio

[2019-04-21 12:40] aschrijver commented on #25
This needs some more information. Do you want a separate page 'Our stories' on the website?
Do we copy the text that people typed in the forum, or just a short excerpt + a link?

In case of a separate 'Our stories' document (and maybe also a separate header entry), I am wondering about the added value to the website, i.e. whether many people would especially open and read that website section.

We

[2019-04-21 15:37] #21 closed, assigned to aschrijver

[2019-04-21 19:28] aschrijver opened #30 "Choose content licensing, CC0 or CC-BY?"
Currently the website states that all the information on it resides in the Public Domain (CC0). This is the most liberal form imaginable, where authors waive the copyright entirely for all contributions they add to the site.

https://creativecommons.org/publicdomain/

Another, possibly better license, is one where authors retain their copyright and we can choose CreativeCommons with Attribution (C

[2019-04-22 06:03] aschrijver opened #31 "Create the text of the Privacy Policy: A humane privacy policy"
The website needs its own, short privacy policy. I am not a lawyer, but luckily the website does contain many features that are related to privacy issues.

- Website contains no trackers, no cookies are set
- We do not collect analytics data, nor do we have logs
- We have no Ads on the website

BUT:

- The website is hosted on Github Pages, so we must make reference of that
- We might enable full-

[2019-04-22 06:50] aschrijver opened #32 "Enable full-text search using default Lunr search functionality"
[Lunr](https://lunrjs.com/) is the default search engine that is integrated with the `minimal-mistakes` theme, and we should enable that first.

Other options are Algolia and Google, but Algolia requires a paid account ($29/month) to have more than one team member that is able to manage the index. Google integration comes with google tracking, and should be avoided.

Lunr is probably rather limite

[2019-04-22 08:39] micheleminno opened #33 "Wrong url for humane design category in left panel"
The Humane design category in the left panel points to the wrong address:

`<li><a href="/alignment/inclusion/" class="">Humane design</a></li>`

[2019-04-22 08:40] aschrijver opened #34 "The Lunr search does not find all pages (e.g. Join Us)"
I just tested the search functionality, and it does not seem to include all pages. The "Be a Builder" or "Join Us" page (https://humanetech.community/join/) is not found, even though I added it to the navigation structure (as a sub-page of the About page).

[2019-04-22 08:43] aschrijver commented on #33
Thanks. Fixed.

[2019-04-22 08:43] #33 closed, assigned to aschrijver

[2019-04-22 08:59] micheleminno opened #35 "Do we really need left menu for categories?"
We could make categories directly pointing to their description page, i.e. on wellbeing page:

Wellbeing involves the following aspects:

- [Health](https://humanetech.community/wellbeing/health/): physical & mental health

- etc.

The left menu can be avoided and this could improve the mobile experience.

[2019-04-22 09:12] aschrijver commented on #35
I like the left-side menu:

- It gives more body / balance to the page visually
- It allows navigation through the entire docs hierarchy, not just the one you are in (e.g. Wellbeing)
- Different sidebar hierarchies are used elsewhere, so it provides consistency
- The side-bar is an important navigational tool, we should not discard it
- Without the side-bar the top of each pyramid top-level page w

[2019-04-22 09:18] micheleminno commented on #35
OK, let's keep it.

[2019-04-22 09:20] micheleminno commented on #35
Even with the left menu there, do we want to add links to categories in the pyramid page as shown in the top issue description?

[2019-04-22 09:22] aschrijver commented on #12
@micheleminno you removed content from the summary.. like adding search. Was this by accident? I want to rollback the content by 2 revisions.

[2019-04-22 09:23] micheleminno commented on #12
I only edited a subitem.. yes rollback.

[2019-04-22 09:25] aschrijver commented on #12
Hmm, Can't seem to be able to rollback. I'll edit a new revision.

**Edit**: Done. Had to edit by hand. Weird that Github does not provide a rollback. Or maybe the UI is confusing, so Deleting Rollback means delete all revisions that come after the current one.

[2019-04-22 09:37] aschrijver commented on #12
PS. The issue probably caused because you need to refresh the page before clicking Edit (usually GH gives a warning when trying to Save however).

[2019-04-22 09:38] micheleminno commented on #12
Ok I will do it (I didn’t notice any warning though..).

[2019-04-22 10:57] aschrijver opened #36 "Adapt the links sharing feature with proper social media channels"
Part of #12

The links sharing feature that is shown at the bottom of Blog pages is not yet adapted for the social media channels of HTC (e.g. it contains a Google+ entry).

Needs to show at least:
- Twitter
- Facebook
- LinkedIn

[2019-04-22 11:07] aschrijver commented on #35
You mean in e.g. the 'Wellbeing' focus page? I think that is nice, as there are short descriptions added as well.

[2019-04-22 11:41] aschrijver commented on #36
Removed Google+ from sharing, as this platform is discontinued.

[2019-04-22 11:41] #36 closed, assigned to aschrijver

[2019-04-22 11:43] #32 closed, assigned to aschrijver

[2019-04-22 11:48] aschrijver commented on #16
For the time being I created a pinned forum topic that provides instructions for people who want to write their own blog entries on the Community Hub.

See this topic:

- https://community.humanetech.com/t/help-build-our-community-hub-and-publish-your-own-blog-entries-now/3824

For other website work more technical skilled contributors are required, and there is less need to provide step-by-step i

[2019-04-22 12:11] aschrijver commented on #34
I fixed the issue by moving the "Join Us" page from `_pages` (which are apparently unindexed) to `_docs/about`.

[2019-04-22 12:11] #34 closed, assigned to aschrijver

[2019-04-22 12:13] aschrijver commented on #31
I just noted the existence of `_pages/terms.md` which contains Terms and Conditions and Privacy Policy texts provided for the `minimal mistakes` theme.

Some of these texts may be usable for inclusion in the PP, after which the page can be deleted.

[2019-04-22 12:21] aschrijver commented on #30
We'll keep it CC-BY for now. This was also communicated on the forum.

[2019-04-22 12:21] #30 closed, assigned to nobody

[2019-04-22 12:29] aschrijver opened #37 "Create an Open Graph teaser image for "Small is Huge" blog post"
I created a Header image with a smaller height, as it took up the full screen (looked ugly) upon opening of the blog post. But it has the wrong aspect ratio when used as the Open Graph image, which looks ugly too.

[2019-04-22 13:45] micheleminno opened #38 "Add a list of most relevant articles, research papers, etc."

[2019-04-22 16:38] micheleminno opened #39 "Background color of instagram button not present"
In index.html:

![Screenshot 2019-04-22 at 18 38 20](https://user-images.githubusercontent.com/832220/56511821-d1d76a00-652d-11e9-8454-0c2925a2186a.png)

[2019-04-22 22:34] aschrijver commented on #39
Yes, this is unfortunate. I had added Instagram before as well, but removed due to this reason. I am not sure, but at the time I thought it was the font-awesome that gave the problem. Maybe not, because it looks like the color boxes are added via CSS.

[2019-04-22 23:03] aschrijver commented on #39
It was indeed a setting in the SaSS files. Fixed now.

[2019-04-22 23:03] #39 closed, assigned to nobody

[2019-04-23 05:52] micheleminno opened #40 "'Our stories' in the main menu"
I'd like to put 'Our stories' instead of 'Docs' (not pointing to anything right now and kind of redundant with 'Resources' already there).

[2019-04-23 06:02] micheleminno commented on #39
I changed the default color to a more 'instagram' like:

![Screenshot 2019-04-23 at 08 02 36](https://user-images.githubusercontent.com/832220/56558195-2ca8aa00-659e-11e9-9d64-18558c034b79.png)

[2019-04-23 06:40] micheleminno opened #41 "Widget that automatically shows last member introductions in 'Our stories'"
We can develop something that gets updates via discourse API about last introductions posted on the forum and show then in the 'Our stories' section.

So there will be always the lastly joined members.

[2019-04-23 06:41] #25 closed, assigned to micheleminno

[2019-04-23 08:06] aschrijver commented on #40
Let's wait with that until after the MVP phase and until we know more about the content strategy behind the entire website.

'Docs' is not very imaginative, but what it means to do is document the emerging field of Humane Technology as we discover it. It is the most important body of work of the community.

'Our stories' has completely different meaning than the above. I think if we'll add it at t

[2019-04-23 08:08] micheleminno commented on #40
Ok, could you put something in Docs for now? Just to avoid the 'page not found' msg..

[2019-04-23 08:08] #40 closed, assigned to nobody

[2019-04-23 08:09] aschrijver commented on #40
Yes, the Docs page should be a top-level container page that has the navigation that you have been filling in: wellbeing, freedom, society, etc.

[2019-04-23 08:13] aschrijver commented on #41
The easiest way to do this, is to have the entire Introduce Yourself topic be a comment thread of an Introductions page.

A special widget would need programming, but can be nice idea as well. The only issue is that in Introduce Yourself people also respond to an intro and have discussion / reactions that cannot be treated as 'new entries'.

[2019-04-23 08:14] aschrijver commented on #39
Nice!

[2019-04-23 08:16] micheleminno commented on #41
Yes, it should imply strict moderation to redirect those extra discussions in the 'Introduce Yourself' topic.

[2019-04-23 08:18] micheleminno commented on #35
Yes I mean, should Health etc. in each pyramid focus page be hyperlinks pointing to the specific category description page? I.e.:

Wellbeing involves the following aspects:

- [Health](https://humanetech.community/wellbeing/health/): physical & mental health

- etc.

[2019-04-23 08:20] aschrijver opened #42 "Define "Resources" and "Activities" as "Docs" pages"
@micheleminno nice that you added these pages. But I found in #34 that pages in the `_pages` section do not get indexed for search. So we should move them to within the `_Docs` section.

I will do this, and also add a navigation sidebar for them..

[2019-04-23 08:41] aschrijver commented on #35
Yes, that could be nice to have, the additional links makes it clear we are introducing the doc structure and eases navigation further.

[2019-04-23 08:49] aschrijver commented on #41
If you talk about moderation there are 2 approaches:

1. Moderation from the forum
2. Moderation from the website

With 1) the easiest way would be to clean the Introduce Yourself thread from responses, so only introductions remain and hence the widget list is clean too.. The hard way would involve e.g. writing a 'theme component' for Discourse that adds a toolbar button 'Add to introductions' or

[2019-04-23 08:53] #20 closed, assigned to micheleminno

[2019-04-23 10:18] aschrijver commented on #8
I just added a temporary and very simple looking construct for displaying the blog list on the landing page. Tried various ways to improve the widget, but to do this well requires diving way more deeply into how all the code sticks together than I am currently prepared to spend time on.

Maybe will make some other small improvements along the way while working on the MVP, but for now at least ther

[2019-04-23 10:51] aschrijver opened #43 "Create a blog entry for the important CHT Livestream announcement"
Part of #12

Turn the forum announcement of the Livestream event of April 23 at CHT into a blog entry to promote in social media.

Here is the forum entry: https://community.humanetech.com/t/attention-tomorrow-is-d-day-at-the-center-for-humane-technology-watch-the-livestream/3861

[2019-04-23 12:18] aschrijver opened #44 "Add the ability to show Discourse comments threads"
Part of #12

Discourse integration is part of `minimal mistakes` theme, and is documented here:

- https://mmistakes.github.io/minimal-mistakes/docs/configuration/#comments

Will create a blog with a comment thread to test how this works. Two things to find out:

1. Does the website auto-create a topic if a blog post has `comments: true`?
2. Is it possible to provide the URL to an existing topic t

[2019-04-23 12:23] #35 closed, assigned to micheleminno

[2019-04-23 12:29] aschrijver opened #45 "Create a blog entry calling for members to join and 'Be a Builder'"
Part of #12

The "Be a Builder" announcement on the forum is excellent to have as  a blog post, and is an official announcement from the community team.

The announcement is located here at the forum: https://community.humanetech.com/t/be-a-builder-help-improve-wellbeing-freedom-and-society/3322

[2019-04-23 12:52] aschrijver commented on #44
Commenting works, BUT:

# Handle with Care!

Followed instructions from Discourse meta: https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963

The feature needs to be fine-tuned still. Currently in Admin I configured the `system` user as the one to auto-create threads, and specified the `Central / Announcements' category as the target for creation

Also I specified that AN

[2019-04-23 13:18] aschrijver commented on #44
# Bug

The functionality now creates topics in the forum for any blog post (maybe any page) that is opened in the website. Need to check what's wrong (maybe commenting defaults to `true`).

[2019-04-23 13:34] #45 closed, assigned to nobody

[2019-04-23 13:35] #43 closed, assigned to aschrijver

[2019-04-23 13:42] aschrijver opened #46 "Test Discourse integration for existing forum topics"
For background see #44  especially https://github.com/humanetech-community/community-hub/issues/44#issuecomment-485808689

This issue is for testing the second method of forum creating: get comments from an existing topic.

See for instructions: https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963

[2019-04-23 13:42] aschrijver opened #47 "Create a separate forum topic for Community Hub discussions?"
See for background: https://github.com/humanetech-community/community-hub/issues/44#issuecomment-485789757

Probably the answer to this is:

- Yes, as long as we allow auto-creation of forum topics based on enabling comments on arbitrary website documents and blog posts.

- No or Maybe, if we only adopt the practice that comments must attach to existing forum topics, and auto-creation is disabled

[2019-04-23 13:44] aschrijver commented on #44
Fixed that bug. Now for method 2). This is document at meta.discourse.org -  see the documentation below. Need to check whether this needs the Admin Embedding functionality too, and whether you should explicitly add the code, or also the Topic ID can be specified in the website (would be great).

I created 2 more issues to follow up on later, after the MVP concludes:

- Create a separate forum top

[2019-04-23 13:44] #44 closed, assigned to aschrijver

[2019-04-23 13:52] aschrijver commented on #8
The current implementation is enough for the MVP. Closing issue..

[2019-04-23 13:52] #8 closed, assigned to aschrijver

[2019-04-23 14:58] aschrijver commented on #42
@micheleminno I made updates to the folder structure. Do not forget a `git pull` before committing anything, or there may be conflicts.

[2019-04-23 16:30] aschrijver commented on #42
Done (at least well enough for now.. MVP-ready)

[2019-04-23 16:30] #42 closed, assigned to aschrijver

[2019-04-23 16:35] aschrijver opened #48 "Remove the tags + categories in current blog posts (non-MVP)"
Part of #12

Quick fixes of 404 page not found on Category + Tag links. These need improvements to the navigation structures and proper pages where overview is shown. This comes later.

Remove all tags + category definitions from frontmatter data in all docs + blogs.

[2019-04-23 16:44] aschrijver commented on #48
**Important**: When doing this we MUST ensure that URL's do not change, so they need to be hardcoded in the `permalink` frontmatter setting!!

Also it is best to comment out the Category and Tags rather than removing. Makes it easier to add again later.

[2019-04-23 16:57] aschrijver commented on #48
All blogs have stuff commented out, with a link to this issue for later.

[2019-04-23 16:57] #48 closed, assigned to aschrijver

[2019-04-23 16:59] aschrijver opened #49 "Add contents to the "Docs" toplevel page to introduce focus area's"
Part of #12

Taking information from the "Be a Builder" pinned forum message.

[2019-04-23 17:19] #49 closed, assigned to aschrijver

[2019-04-23 17:23] aschrijver opened #50 "Add contents to the "Activities" toplevel page to introduce our projects"
Part of #12

- Add awesome-humanetech
- Add Awareness Program themes + campaigns
- Add Hotfix
- ... ?

[2019-04-23 17:28] aschrijver opened #51 "Temporarily disable the Previous / Next nagivation (non-MVP)"
Part of #12

The Previous / Next navigation is not reliable and needs more investigation. See also: #28

Disable it, by commenting out the appropriate codes.

[2019-04-24 07:23] micheleminno commented on #38
I replicated here the pyramid structure, to place any resource in the right pyramid/category.

[2019-04-24 07:26] micheleminno opened #52 "Add 'Our stories' as new item in the main menu"
I'll remove it from resources and place in a dedicated page accessible from the main menu.

Do we have concerns about publishing member introductions here?

Both site (forum and website) are public, so introductions will be accessible anyway, but @gkrishnaks and @patmatsu told that it's a privacy violation.

[2019-04-24 07:31] micheleminno commented on #52
From @gkrishnaks: I think it’s a good idea to ask individual person for permission, or just inform everyone that any post in introduction section goes to the site as both are public.

From @patmatsu: I agree. There should be a notice somewhere that information can be shared at the discretion of the admins.

[2019-04-24 08:09] micheleminno opened #53 "Update Code of Conduct (CoC)"
Add something about posting topics that are clearly out of the interests and focus areas of the forum (i.e. post about new physics theories).

[2019-04-24 09:44] aschrijver commented on #52
Technically it should be no problem, as the texts are CC-BY and attribution can be made, but I agree with the above. It is uncivil to just republish elsewhere. These people introduced themselves to the other community members, not to the outside world. Therefore permission is required.

I would like to propose foregoing the 'Our stories' idea, and instead turn this into a 'People Directory'. I'll

[2019-04-24 10:01] #50 closed, assigned to aschrijver

[2019-04-24 12:32] aschrijver opened #54 "Create 'Position statement' blog entry with HTC Open Canvas"
Part of #12

Use the Open Canvas we created for Mozilla Open Leaders to present our position statement on the Community Hub as the second blog entry.

[2019-04-24 12:34] #54 closed, assigned to aschrijver

[2019-04-24 12:36] aschrijver commented on #51
Truly disabling this involves commenting out the code that generates the Previous / Next button, or removing `paginator.html` include from appropriate places. But pagination is a core feature of Jekyll, so maybe it is better to figure out how to fix this than disable. Anyway, I moved the issue back to the To-do column of the MVP project.

[2019-04-24 16:49] #37 closed, assigned to aschrijver

[2019-04-24 16:50] aschrijver commented on #51
Not doing. Refer to #28 instead.

[2019-04-24 16:50] #51 closed, assigned to aschrijver

[2019-04-24 16:57] aschrijver commented on #12
The [MVP Community Hub](https://github.com/humanetech-community/community-hub/projects/1) project is now closed.

[2019-04-24 16:57] #12 closed, assigned to aschrijver

[2019-04-24 17:02] aschrijver commented on #52
I don't think we should have 'Our stories' in the main menu. If there is something to be added there I'd rather include a 'People' entry to the main menu that leads to the People directory where people can introduce themselves and explain their interests regarding Humane Technology.

The People directory is a Who's Who lookup for people to find others to cooperate with. This is an often asked ques

[2019-04-24 17:10] aschrijver commented on #47
Three options:

1. We only allow one type of page to have comments (in this case this is 'announcements'). Then we do not have to create a special category for this. The 1-to-1 mapping already exists. We must review each case where `comments: true`.

2. We allow any type of comments anywhere. Then we need to add an extra category to the forum to catch the auto-created topics. This would work, but

[2019-04-24 17:12] aschrijver commented on #41
See #52

Having a People Directory would be a better approach. This is at most a nice-to-have and has complications with permission + moderation, while a directory adds more value.

Proposing to close this.

[2019-04-24 17:21] aschrijver commented on #29
I also checked this via my mobile phone. Same results. Additionally Twitter doesn't show the Open Graph previews, but they use different metadata settings than `og:image`. Maybe LI does so too.

Need to check the entire SEO. Closing in favor of #4.

[2019-04-24 17:22] aschrijver commented on #4
LinkedIn and Twitter previews do also not work properly. See #29

[2019-04-24 17:22] #29 closed, assigned to nobody

[2019-04-24 17:23] aschrijver commented on #11
@micheleminno this would be your project if you want to continue with the t-shirt ordering idea :)

[2019-04-24 17:54] #6 closed, assigned to nobody

[2019-04-24 19:24] aschrijver commented on #28
This probably involves cleaning the file structure. In our haste to get the MVP up and also have Search working, all markdown pages are in `_Docs`, but the structure should probably be like this:

- `_Docs`
  - all markdown pages in docs structure in a flat list, and nrs. in filename for alphabetic sorting
- `_About`
  - same, but for About section
- etcetera

This requires defining them in `_conf

[2019-04-25 00:24] polterguess opened #55 "Option to remove "suggested topics" at the end of the message list"
I find it jarring to see a list of old dead topics in a suggest list looking very bold and loud.

Possible Solutions:
1. Give user option to turn on or off this feature
2. BEST - Collapse it, so you can open it to look inside but it's not visible until you open it.
3. FAST - Tone it down with light grey text font
4. Add a much larger space between the end of the message and this dump

[2019-04-25 00:29] polterguess opened #56 "End of Message format - 90% of the time, you just want to reply"
At the end of a message, mostly what we need is the "REPLY" button.
Please tone down the other buttons that RARELY get used.

Possible solutions
1. FAST - Put the reply button on it's own line cleanly below the last message.
2. FAST - Shrink the size and light grey the RARELY used options of "share" etc etc.
3. HARD - Or hide these other options behind one 'other' button.
4. FAST - just add spacin

[2019-04-25 01:22] polterguess opened #57 "Add a matching Menu Bar to the Community Forum for consistency"
Hopefully, this are just a few linked buttons.
Suggestions
1. Problem: The forum left logo goes to forum. The button for the home page is way on the right and it's very much no clear as a globe.
  Solution: Instead change logo to go to homepage and then add a "Forum" or "Forum Home" button that links to the Forum homepage.
2. Change the top menu of the forum to match the top menu of the homepage.

[2019-04-25 02:16] patmatsu commented on #52
OK with me to close.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Wednesday, April 24, 2019 7:02 AM, Arnold Schrijver <notifications@github.com> wrote:

[2019-04-25 02:40] henryrowswell commented on #56
Hey Chris! It seems to me for this issue and #55 you're referring to the forum specifically, rather than the "community hub"? By forum I mean https://community.humanetech.com/, vs the hub which is https://humanetech.community/, the urls are kind of trippy haha.

I'm new so I could be wrong but from what I see I think the forum is run using [discourse](https://www.discourse.org/), and I'm not sure

[2019-04-25 03:33] polterguess commented on #56
Oh, ok, that makes sense.

The forum code is not in the repo.

Thanks for the follow up!

[2019-04-25 05:07] henryrowswell commented on #28
I think I can tackle this! But I need to clarify the intended ordering of the docs. Starting from `/docs/`, should the ordering follow the ordering laid out in the `focusarea` nav? This would make the most sense to me since each page leads to the next one in the sidebar, but I'm not sure if the original intent was to follow a more complex ordering, seeing as there are also sidebar navs for `toplev

[2019-04-25 05:27] polterguess opened #58 "Home page - menu wording improvements"
1. Activities should become "Our Activities" or "Solutions"
1. Resources - should have the link to GitHub of "List of Existing Resources". It's an activity but it is really now a RESOURCE since it's built already. It should be at the top of the "Resource" page.

[2019-04-25 05:31] cdavies2014 commented on #56
Hi Henry,

I don’t know if you saw all of the Video where Tristan Harris mentions the reddit spin off “Change my Mind”?

I have an idea for a much more powerful format of a table for a solution to this “debate” problem that could help people understand and debate issues on all the hot and painful topics.

I do have some basic coding skills, but I don’t know if you’re interesting in a “bigger” juic

[2019-04-25 05:33] polterguess commented on #56
Oh, and you’re right - this community maybe could use slack in some capacity.

[2019-04-25 06:51] aschrijver commented on #56
@cdavies2014 you can post forum-related things to the Feedback category there.

[2019-04-25 06:55] aschrijver commented on #57
Good feedback this. Especially 2). I have seen Discourse forums that had this, so should be possible. I will investigate.

[2019-04-25 07:25] aschrijver commented on #56
I added a 'forum' label for clarity.

Regarding your idea to 'tone down' the other buttons: In my UI they are toned down. The Reply is blue and the other buttons (which I do frequently use) are grey in color.

[2019-04-25 07:32] aschrijver commented on #58
1) is a good change. Will consider using 'Our activities'. 'Solutions' is less appropriate as the 'Docs' section wil contain aggregated knowledge from the forum, and 'Activities' itself includes Meetup groups, which are not solutions.

Could you explain 2) a bit more. Not sure what you mean by this?

[2019-04-25 07:38] aschrijver commented on #28
Yes, you are right. This needs a bit more thinking. I rather take on this issue myself if you don't mind. Have to think about intended navigation structure a bit more.

[2019-04-25 09:19] aschrijver opened #60 "Document HOW-TO for creating blog posts"
It should be made easy for less technical users to create Blog posts. Right now the procedure is written down in a pinned forum topic:

- https://community.humanetech.com/t/help-build-our-community-hub-and-publish-your-own-blog-entries-now/3824

This should be documented in the main README.md ( or maybe a separate Wiki page with reference from main readme).

[2019-04-25 09:37] aschrijver commented on #28
The ordering should at least be chronologically logical. Now there are strange jumps when pressing 'Next'. Yes `docs` should follow the document structure from the left-bar, then when at the end of this set of pages jump to the next top-level item and drill down into that left sidebar navigation.

[2019-04-25 09:44] aschrijver commented on #58
I tested with "Our Activities" which didn't look good, and then "Our activities" which I am doubting about. A single-word entry might be best. But here is how that looks:

![humanetech-mainmenu-our-activities](https://user-images.githubusercontent.com/5111931/56726634-6d93f080-674f-11e9-895d-2ed8bff83a63.png)

[2019-04-25 13:07] aschrijver opened #61 "Create a People Directory for members to present themselves"
The idea is that any member that wants that can be added to the Directory. The directory would be very similar to Mozilla Pulse. On the entry level you see a grid of Avatars with name, profession, bio and some links to their own website, linkedin, etc. Then it would also have a ‘Read more’ button that leads to a summary page where they can further introduce themselves and state their interests wit

[2019-04-25 13:51] aschrijver commented on #57
Yes, I just tested a `theme-component` that adds a menu bar. This is how it looks like out of the box:

![humanetech-forum-menu-bar](https://user-images.githubusercontent.com/5111931/56740718-c1173600-6771-11e9-82df-37efe830aefb.png)

Some styling can be added to change colors, plus all entries can have icons. To have the styles exactly match that of the Community Hub website some more tweaking is

[2019-04-25 13:55] aschrijver commented on #57
@micheleminno FYI you can find the theme-component in the Admin > Customize section and then click on components. This component is currently not assigned to a theme (which makes it display immediately)

[2019-04-25 14:41] aschrijver commented on #5
Closing this issue for now. We don't want to fiddle with sub repos, and it also requires to much maintenance and things to be aware of when repos are interconnected.

[2019-04-25 14:41] #5 closed, assigned to nobody

[2019-04-25 19:53] aschrijver commented on #61
This is the forum discussion related to this issue:

- https://community.humanetech.com/t/3940

[2019-04-25 20:52] aschrijver commented on #47
This is no longer needed. The topics are now created in 'Uncategorized' category, and can be placed at appropriate location later on without breaking the link.

[2019-04-25 20:52] #47 closed, assigned to nobody

[2019-04-25 20:56] aschrijver commented on #46
This is currently not supported, but we could include a PR to `minimal-mistakes` to support it. Here is the code that is currently included:

- https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/comments-providers/discourse.html

[2019-04-25 20:58] aschrijver commented on #44
Method 2) is currently not supported, so you cannot attach an existing forum discussion. See #46 for options to PR this functionality to `minimal-mistakes`.

[2019-04-25 23:41] henryrowswell commented on #26
Fortunately Jekyll makes this really easy, by specifying a permalink for all posts in `_config.yml`. The permalink can use any combination of [these](https://jekyllrb.com/docs/permalinks/#placeholders) variables. I created a PR to make it /:year/:month/:slug (slug is the same as title which comes from the filename of the post, but any non-alphanumeric characters are replaced with a hyphen)

[2019-04-26 08:29] micheleminno commented on #11
@aschrijver I continued investigating but there are issues on both technical and logistic aspects. Anyway it's a good thing to create such a page.

[2019-04-26 09:00] aschrijver commented on #28
Great PR @henryrowswell and navigation works like a charm.

[2019-04-26 09:00] #28 closed, assigned to nobody

[2019-04-26 09:04] micheleminno commented on #57
I should not add the menu bar to the forum, it would create confusion: which os the role of the forum? Which is the role of the website instead?
I would:
- replace the left logo on the forum with something like this:

![Screenshot 2019-04-26 at 11 03 38](https://user-images.githubusercontent.com/832220/56796509-f889ef00-6812-11e9-847c-1be6a7b7b323.png)

- replace the globe with a new icon represen

[2019-04-26 09:13] micheleminno commented on #52
According to me, an 'Our stories' page would be better that a 'People directory', or if we want we can have both. The idea behind 'Our stories' is this:

-  having a place where new members can feel themselves more in connection to the existing members of the community, in a way that they can find even naive similarities with some of them and experience some sort of shared feeling. They need to be

[2019-04-26 09:18] aschrijver commented on #60
Thank you @henryrowswell it is merged. I fixed a couple of links and added a bit more text to 'contributing content'.

[2019-04-26 09:18] #60 closed, assigned to nobody

[2019-04-26 09:30] aschrijver commented on #58
We will leave it as 'Activities' for now. There is another entry 'People' coming and we need to preserve space. Having longer names takes up too much space.

[2019-04-26 09:30] #58 closed, assigned to nobody

[2019-04-26 09:36] aschrijver commented on #61
This is how it currently looks like:

![humanetech-people-directory](https://user-images.githubusercontent.com/5111931/56798646-7cde7100-6817-11e9-9f4e-f2c5000b401e.png)

It is very basic and needs polishing and brushing of the CSS styles, plus many other improvements. But the functionality is alright, where each Person entry has an entire page in Markdown to present themselves.

Additional entrie

[2019-04-26 09:47] aschrijver commented on #57
I don't think it creates this confusion. It makes it clear that the forum is sub-part of the Community Hub, and allows quick navigation to website sections (The menu can also hold some other forum links). Without having prominent links to the Community Hub, it will be a forgotten website and only some die-hards now and then contributing to it.

The globe icon cannot be replaced with that logo. The

[2019-04-26 09:55] aschrijver commented on #52
Yes, you are right. My current idea is to have a 'People' main menu entry that leads to a page where you have a combined 'Our stories' and 'People directory'. Personally I think the people directory is more important than the stories. Most important goal is to get members actively contributing, and 'feeling at home' is only where this starts.

I kindly disagree on your last paragraph. The forum of

[2019-04-26 10:22] micheleminno commented on #52
It's not about 'feeling at home'. It's about letting each person find out why she/he is here, share it and find deep reasons to be motivated and escape from that 'I'm the only one feeling it' sensation that many times occurs when you are feeling something (it could be about gender, sex, political, social or technology use and consequences issues, like in our case) that all other people you know do

[2019-04-26 10:27] aschrijver commented on #52
Okay, let's have both as I proposed. I am feeling the need for people directory most pressingly, as I get PM'ed a lot with questions like "Who can I approach for [this and that]" asking for specific professions and it is time-consuming, and I don't have a good answer.

[2019-04-26 10:42] aschrijver commented on #11
If we have such a page, it makes a nice entry from the Landing Page in a separate feature section.

[2019-04-26 10:49] aschrijver opened #65 "Create sidebar navigation for Activities page"
Part of #67

The Activities page needs a new sidebar. The current one was quickly created for the MVP and can be discarded.

Part of the Activities of HTC are:

- Meetups & events
- Ongoing programs
- Projects
- Ideas

[2019-04-26 10:57] aschrijver opened #66 "Move documentation from Awareness Program repo to Community Hub"
Part of #67

The Awareness Program repository contains too much documentation as Markdown README documents.

The Awareness Program repo should be used for 2 things:

- To track Theme / Campaign / Deliverable proposals
- To contain file outputs created as part of work on Campaigns and/or deliverables

The README's in Awareness Program should point to the documentation that is present on the Communi

[2019-04-26 11:02] aschrijver opened #67 "Finish Activities section according to new community organization"
This is a top-level issue and consists of the following tasks:

- [x] Create sidebar navigation for Activities page (#65)
- [x] Move documentation from Awareness Program repo to Community Hub (#66)
  - [x] Create campaign themes pages and update 'Campaign themes' page
  - [x] Create campaigns pages and update 'Campaigns' page
  - [x] Create campaigns deliverables pages and update 'Campaign deliver

[2019-04-26 11:44] micheleminno commented on #57
According to me, the forum must stay as plain and simple as possible, without navigation bar.
Non technical people don’t even know what is it and how to use an issue tracker.

[2019-04-26 14:48] #65 closed, assigned to aschrijver

[2019-04-27 05:31] patmatsu opened #68 "Upcoming events to put on the website"
I would like to invite people to the "graduation" of participants in round 7 of the Mozilla Open Leaders program.

When | Changed: Tue Apr 30, 2019 11:55am – 1pm Eastern Time - Toronto
Where | https://zoom.us/j/5937811987 (map)
Notes & connection info: https://mzl.la/ol7-demos-b
Blog post on all demos: https://medium.com/p/9f6e0c24db1d
Livestream: https://www.youtube.com/watch?v=Amaw17K-u0Y

[2019-04-27 07:32] aschrijver commented on #68
I added this to the Events section. Here is how it looks online:

![humanetech-upcoming-event-moz-ol7](https://user-images.githubusercontent.com/5111931/56846410-58de6680-68cf-11e9-98d8-91322cc64edb.png)

[2019-04-27 07:34] patmatsu commented on #68
Looks great; thank you!

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, April 26, 2019 9:32 PM, Arnold Schrijver <notifications@github.com> wrote:

[2019-04-27 08:15] #68 closed, assigned to aschrijver

[2019-04-27 12:48] #66 closed, assigned to aschrijver

[2019-04-27 13:35] aschrijver commented on #46
I jus tested this with an adaptation to `discourse.html`, in this commit https://github.com/humanetech-community/community-hub/commit/e99bb42364c180ca6fabaa24842fec198f347144 (due to a typo not attached to this issue).

The integration to existing comments works now when adding `discourse_topic_id: [topic-id]` to the page.

The only issue is that the first post in the topic is not included. I ment

[2019-04-27 20:37] patmatsu commented on #61
Like what I see on the People page. How will we handle a large number of entries? I know you said there would be a grid, but if dozens of people are in it, it will become unwieldy. My office has a similar problem with our [Volumes](https://manoa.hawaii.edu/manoajournal/volumes) page. For now it is manageable, but soon it will become difficult to read.

[2019-04-27 20:41] patmatsu commented on #61
Here is how we handled our list of contributors, who number over a thousand.

https://manoacontributors.wordpress.com/

The page is linked to on the [Contributors](https://manoa.hawaii.edu/manoajournal/node/60) page of the main site. This is not the only solution by any means and may not even be the best.

[2019-04-27 21:50] patmatsu commented on #38
Not sure if this is the right place to provide content on books, but here goes:

**Nonfiction**

- Ciarán Mc Mahon (academic psychologist) https://community.humanetech.com/t/new-book-the-psychology-of-social-media/3759 / https://www.routledge.com/The-Psychology-of-Social-Media-1st-Edition/Mc-Mahon/p/book/9781138047754

- James Williams _Stand Out of Our Light: Freedom and Resistance in the Attenti

[2019-04-27 22:03] patmatsu commented on #38
Articles:

**Harm to children**

- https://www.theguardian.com/society/2019/apr/27/technology-threatens-child-development-psychology-expert-warns

**Facial recognition and surveillance**

- https://www.engadget.com/2018/01/18/china-facial-recognition-uyghurs-xinjiang/

**Community building**

- David Jay https://medium.com/s/story/relationship-machines-675305924d5?sk=b277bbdf2843f22d3a81d79bc20e98

[2019-04-28 03:05] patmatsu opened #69 "Films, videos, and podcasts need to be included in Resources"
A few to start with:

**Films**

- _2081_ (adaptation of the story "Harrison Bergeron" by Kurt Vonnegut) https://en.wikipedia.org/wiki/2081_(film)

- _THX-1138_ https://en.wikipedia.org/wiki/THX_1138

- _Fahrenheit 451_ https://en.wikipedia.org/wiki/Fahrenheit_451_(1966_film)

**Videos**

- _The Third Industrial Revolution_ https://impact.vice.com/en_us/article/bj5zaq/watch-vices-new-documentary-t

[2019-04-28 08:42] aschrijver commented on #61
The contributors page offers an alphabetic index, which is not suitable for our own directory. The directory needs to answer questions, like:

- "I am a sociologist, and I want to connect with other experts in the field of Digital Wellbeing"
- "I am a teacher, and I want to develop courseware together with other teachers in the community"

Right now the grid layout will fill up with people sorted

[2019-04-28 08:55] aschrijver commented on #38
Nice list, Pat. Thanks for collecting.

I think we should move this link collection to the forum, in topics that are clearly indicating that we do this for the Community Hub. Then in this issue tracker we don't get issues that are open indefinitely, but only ones that are quick actions and can be part of the project board's `Todo --> In progress --> Done` workflow.

Or maybe better:

In any post o

[2019-04-28 09:11] aschrijver opened #70 "Document the custom prev / next navigation for content pages"
See also #28

@henryrowswell has created a cool page navigation override that allows to specify the `custom_pagination` the page frontmatter, and then either set the `prev` or `next` page that is navigated to when pressing Previous / Next buttons at the bottom of the page.

This method allows creation of both intuitive navigation structure and a logical folder structure for the pages in the websit

[2019-04-28 09:24] aschrijver opened #71 "Document how to add Comments to pages and blog posts"
See also #44 #46

The Community Hub has [Discourse integration](https://mmistakes.github.io/minimal-mistakes/docs/configuration/#discourse) enabled. On any page you can add `comments: true` and when then loading the page in your browser the first time, Discourse creates a topic (using the `system` user) in the 'Uncategorized' category with the same name as the page. Any post added to this page wil

[2019-04-28 09:35] aschrijver opened #72 "Discourse comment topic should have a prefix, not a suffix"
See also #44

When adding `comments: true` to a page, and a corresponding topic is created on the [discussion forum](https://community.humanetech.com), then it automatically gets a suffix appended to the title with website name, i.e. _"[Page title] - Humane Tech Community"_.

Instead it would be better if it got a prefix instead. Two options:

1. A generic prefix _"Community Hub: [Page title]"_
2.

[2019-04-28 09:48] aschrijver commented on #72
This would need a feature request to [meta.discourse.org](https://meta.discourse.org) in the topic where the comments integrator is discussed:

https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963

Or a PR to the repository where this lives.

Some code of Discourse that is involved here:

- https://github.com/discourse/discourse/blob/master/public/javascripts/embed.js
- h

[2019-04-28 10:00] aschrijver commented on #69
In terms of videos we should have the ones where Tristan and other CHT members speak be first and foremost into view in the Resources section.

I have added this to the [Resources project](https://github.com/humanetech-community/community-hub/projects/4) for inlcusion. See https://github.com/humanetech-community/community-hub/issues/38#issuecomment-487359452 for procedure to add more to Resources

[2019-04-28 10:02] aschrijver commented on #38
Like #69 I added this issue to [Resources project](https://github.com/humanetech-community/community-hub/projects/4).

[2019-04-29 02:30] patmatsu commented on #38
When you say the community hub (see your comment above), do you mean this page? https://community.humanetech.com/t/help-build-our-community-hub-and-publish-your-own-blog-entries-now/3824/6

[2019-04-29 02:56] patmatsu commented on #38
**Documents**

- [2018-07-networked-authoritarianism-hope-talk.pdf](https://github.com/humanetech-community/community-hub/files/3125839/2018-07-networked-authoritarianism-hope-talk.pdf)

- [826826_Oswald_GenerationTagged_original.pdf](https://github.com/humanetech-community/community-hub/files/3125840/826826_Oswald_GenerationTagged_original.pdf)

- Mozilla Foundation "Internet Health Report 2019"

[2019-04-29 08:07] #71 closed, assigned to nobody

[2019-04-29 08:09] #46 closed, assigned to nobody

[2019-04-29 08:23] #70 closed, assigned to nobody

[2019-04-29 11:07] #56 closed, assigned to nobody

[2019-04-29 11:16] aschrijver commented on #55
We consider the HTC forum to consist of an 'Archive' of content waiting to be processed. In that sense there are no 'old dead topics'. They are not dead, but just slid out of view by new topics coming in. We encourage anyone to make crossreferences to older topics, so that things are more easy to find.

But ultimately we want to use the knowledge, wisdom and insights of forum topics when creating

[2019-04-29 11:16] #55 closed, assigned to nobody

[2019-04-29 11:23] aschrijver commented on #57
The navigation in the menu is not to Github, but to content sections that exist on the Website.

The website is where the HTC outputs her 'results' i.e. the content on Awareness and Solutions targeted at the broader public. The Community Hub is the new first point of entry to our community. The discussion forum (which has been primary point of access unitl now) now comes secondary and is for the p

[2019-05-03 17:34] patmatsu commented on #38
Sorry to stumble over something small, but I don't understand this part:

"Add it to the Community Hub in appropriate location."

Is this appropriate place a central location or relative, arbitrary one?

[2019-05-03 23:46] patmatsu commented on #69
Episodes in the [Borja Moya Show](https://www.youtube.com/channel/UC_2o3uWeoQdoBpBdiHJ3O0Q):

- [The Future of DEMOCRACIES Depends on How We Deal with PRIVACY TODAY](https://archive.org/details/20190403TheFutureOfDEMOCRACIESDependsOnHowWeDealWithPRIVACYTODAYInterviewWithEnriqueDansByBorjaMoya) // Interview with Enrique Dans

    Video (Archive.org | [YouTube](https://www.youtube.com/watch?v=CmCGp8

[2019-05-03 23:46] #69 closed, assigned to nobody

[2019-05-04 07:45] micheleminno commented on #38
It's the right location (inside the [resources page](https://humanetech.community/resources/)) in the category structure of the pyramids, i.e. wellbeing.

Check the resource I just added in the resources web page.

[2019-05-04 12:11] micheleminno commented on #38
Closing this issue. Good practice:

In any post on the forum that contains an interesting link, we:

- Add it to the Community Hub in appropriate location (pyramid, category).
- We then edit the post, adding:

---

**Community Team**: Thank you. Your link was added to the Community Hub at [this location](#).

---

[2019-05-04 12:11] #38 closed, assigned to nobody

[2019-05-04 12:11] #27 closed, assigned to nobody

[2019-05-04 15:29] micheleminno opened #74 "Update status of campaigns and ideas"
In particular the following (started by me):

- "Harmful UI"
- "Mind of cards"
- "I'm here now"
- "Don't count on me"
- "Memories of a bartender"

But also all the other campaigns.

[2019-05-07 09:07] aschrijver opened #75 "Create Meetup Chapters page an add table with existing chapters"
Part of #67

With the Eventful forum topic as input list all the HTC meetup chapters and add a separate table for chapters that are on-topic but not affiliated to HTC.

https://community.humanetech.com/t/eventful-campaign-foster-a-vibrant-meetup-culture-organize-exciting-events/3024/3

[2019-05-07 09:31] aschrijver commented on #75
Created a cleaned-up list of HTC chapters and separated out non-affiliated chapters in a separate paragraph.

See: https://community.humanetech.com/t/eventful-campaign-foster-a-vibrant-meetup-culture-organize-exciting-events/3024/8

[2019-05-07 09:31] #75 closed, assigned to aschrijver

[2019-05-07 09:42] aschrijver opened #76 "Add a world map showing HTC Meetup Chapters"
Our member `@PaulaFairphone` [suggested](https://community.humanetech.com/t/map-design-wanted-mapping-local-meetups/1132/2?u=aschrijver) forking the [Fairphone Community Map](https://map.fairphone.community/) ([github](https://github.com/WeAreFairphone/fprsmap)) to show where meetup groups exist.

The map is already prepared to work with Jekyll and it should be fairly easy to incorporate it on our

[2019-05-07 09:50] #16 closed, assigned to nobody

[2019-05-07 09:51] #26 closed, assigned to nobody

[2019-05-07 09:56] aschrijver commented on #72
Closing this issue as `won't fix` as this requires extending Discourse, not related to the site functionality.

There is a way to get full control of the the topic title, and that is to first prepare a new topic on the forum and passing the topic ID in the page frontmatter section. See the [documentation on Enabling comments](https://github.com/humanetech-community/community-hub/blob/master/contri

[2019-05-07 09:56] #72 closed, assigned to nobody

[2019-05-09 10:42] micheleminno opened #77 "Write a post about the 25th of May Mozilla sprint event"
Info:

- https://www.mozillapulse.org/entry/1166
- https://community.humanetech.com/t/a-talk-with-htc/4028

[2019-05-09 10:45] micheleminno commented on #77
- Add to the events too in activities.

[2019-05-10 07:26] #77 closed, assigned to micheleminno

[2019-05-11 13:31] micheleminno commented on #53
Also:
- can't advertise your product/company/service, beyond the 'Judge my app' category
- can't replicate the same post in multiple places.

[2019-05-11 20:04] patmatsu opened #78 "Update upcoming activities"
Not sure if this merits a new topic, but I couldn't find anything in the issue list that was appropriate.

Can we add this event to the list of upcoming activities:

https://2019.comtech.community/index.html

[2019-05-14 07:59] micheleminno opened #79 "Add blog posts by Biswa Aryal"
### Title ?

### Text
Imagine your family has more than 4 members . Your child doesn’t go to school because you cannot pay fees. You have to work as a laborer for 10 to 12 hours a day and you earn 5 dollars. You are the only working member of your family.

Due to circumstances like these, people from every part of my country are going to the Middle East in masses just to earn 250 dollars to 350 do

[2019-05-15 08:50] aschrijver opened #80 "Change Todo - In Progress - Done timeline for Campaigns"
@micheleminno I noticed you changed the Status of campaigns to a scheme of `To do`, `In progress` and `Done`.

While I think this simplication from the earlier 4 states is good to have, the current scheme is not accurate. It is more fitting to be applied to planned tasks than for campaigns. `To do` implies they are planned and we will do them in the future. But these campaigns are proposals waitin

[2019-05-15 09:11] aschrijver commented on #79
The `_data/authors.yml` file contains some guidelines for new entries:

[code]

[2019-05-18 12:43] #78 closed, assigned to nobody

[2019-05-18 12:45] #80 closed, assigned to nobody

[2019-05-18 15:16] micheleminno commented on #74
"Harmful UI" updated:
- https://humanetech.community/awareness-program/deliverables/harmful-ui

[2019-05-19 13:59] micheleminno commented on #79
https://humanetech.community/2019/05/damaging-families-in-developing-countries

[2019-05-19 14:00] micheleminno commented on #79
How to add credits to an image?

[2019-05-19 14:01] micheleminno opened #81 "Recent posts in home page doesn't work properly"
![Screenshot 2019-05-19 at 11 27 29](https://user-images.githubusercontent.com/832220/57983187-3c0cfd00-7a4f-11e9-8381-7962ac9fbd7c.png)

It doesn't show the latest post and doesn't change if clicked.

[2019-05-20 10:20] aschrijver commented on #81
Looking quickly at the documentation of the paginator, I think using the paginator is not appropriate. It  _creates_ pages and is not to be used for an embedded section like this. Probably should be changed to show just the 5 most recent `site.posts` and not use the paginator.

[2019-05-24 07:46] micheleminno opened #82 "Create past events page"

[2019-05-24 08:05] #82 closed, assigned to micheleminno

[2019-05-24 13:34] vbernardes commented on #76
Hi, I've been passionate about the idea behind the Humane Technology movement ever since I first heard about it and would love to contribute in some form. I would like to help out with this issue!

Since I'm new to the community, I'm not sure about the protocol here. Do I need to wait for some go ahead or should I just get to work? :)

[2019-05-24 13:39] micheleminno commented on #76
Hi, welcome to HTC! This issue is a good candidate if you want to pick up something that doesn't require a lot of contextual informations. Please go ahead :)

[2019-05-24 14:15] vbernardes commented on #76
Thank you! This seems straightforward enough to start with. I'll post here if I have any further questions.

[2019-05-24 16:46] micheleminno commented on #76
Assign it to you if you are working on this.

[2019-05-24 16:55] vbernardes commented on #76
I don't think I can... maybe I need to be set as a collaborator first?

[2019-05-25 07:42] micheleminno commented on #76
Yes you are right, but I can't do it. It doesn't matter.

[2019-05-25 16:07] #74 closed, assigned to micheleminno

[2019-05-27 09:24] aschrijver commented on #81
Nice change to have it display as grid. Only issue I see is that currently it only shows the last 2 blog posts for some reason.

[2019-05-27 09:26] micheleminno commented on #81
I chose 2, 5 didn't show well in the page.

[2019-05-27 09:27] aschrijver commented on #81
Seems like it could hold 4 entries to fill out the entire width?

[2019-05-27 09:29] micheleminno commented on #76
@vbernardes I added you as collaborator
check [here](https://github.com/humanetech-community/community-hub/invitations).

[2019-05-27 09:29] micheleminno commented on #81
in a 5 grid, 2 went on a row and 3 on another row..
but I will try.

[2019-05-27 09:35] micheleminno commented on #81
They go in two rows, I don't know why:

![Screenshot 2019-05-27 at 11 35 54](https://user-images.githubusercontent.com/832220/58410994-9de2ed80-8073-11e9-92eb-b3e9c9724bbc.png)

Trying with 3 limit..

[2019-05-27 09:37] micheleminno commented on #81
No, the same, restoring to 2.

[2019-05-27 09:46] aschrijver commented on #81
Probably this is some CSS setting. Below a blog post 4 entries are shown in a row.

[2019-05-29 16:11] vbernardes commented on #76
I have a first working version ready, please [check it out](https://vbernardes.github.io/community-hub/activities/meetup-chapters/) and let me know how it looks. Thanks in advance for any feedback!

[2019-05-30 14:47] micheleminno commented on #76
This is great @vbernardes, thank you!

[2019-05-30 14:50] micheleminno opened #84 "Have centralised data about meetups in the website"
Now we have the table and the map, each one to be updated separately. It would be better to have only one place where there are data about meetups, and then use it to export them in various forms (table, map, ..).

[2019-05-30 14:52] micheleminno commented on #84
@vbernardes added the map.

[2019-05-30 14:55] micheleminno commented on #76
What do you think of showing also 'Other Humane Technology-related Meetup Groups', maybe using another kind of placeholders (and item in the legend)?

![Screenshot 2019-05-30 at 16 54 38](https://user-images.githubusercontent.com/832220/58641541-b06f5800-82fb-11e9-98ca-5ff847387889.png)

[2019-05-30 19:55] vbernardes commented on #76
Yes, of course, that's a great next step! I just wanted to get a  basic version up and running first and then get to work to improve it.

Actually, you have already thought about the same improvements I was considering :) They include this topic and #84. I'll go comment on that issue as well.

[2019-05-31 10:30] aschrijver commented on #76
Great work @vbernardes and @micheleminno !

I too like the idea to also show the related meetup chapters.

[2019-05-31 10:57] aschrijver commented on #84
I guess the entire code for displaying the map can be merged / integrated into the main repository (note: right now this exists in @vbernardes repo).

When doing this we can also remove the trackers `googleapis` and `cloudflare` by loading this from the local repo.

PS. When merging we should make sure to properly attribute Fairphone. This can be done below the map and in https://humanetech.commun

[2019-06-02 11:21] aschrijver opened #85 "Add Consciously Digital Toronto meetup chapter"
As per https://community.humanetech.com/t/toronto-meetup-consciously-digital/3730/2 the meetup chapter can be added to "Other Humane Technology-related Meetup Groups" at https://humanetech.community/activities/meetup-chapters/

[2019-06-02 11:53] #85 closed, assigned to aschrijver

[2019-06-03 20:41] vbernardes commented on #76
I have just uploaded an updated version of the map with new placeholders and the “Other Meetup Groups” layer. Please [check it out](http://vbernardes.github.io/htc-map/)!

[2019-06-06 17:29] bernardini687 commented on #81
Hello! I'm sorry for not claiming this issue first, but I forked the project and tweaked the CSS on a new branch, managing to get the 4 recent posts on a row! I'll make a pull request so you can have a look at the changes.

[2019-06-07 08:20] micheleminno commented on #81
Thank you @bernardini687, it works perfectly!

[2019-06-10 09:12] micheleminno commented on #53
Update CoC according to [this post](https://community.humanetech.com/t/code-of-conduct-for-htc/3768/21). In particular add the following:

[2019-06-10 09:14] micheleminno commented on #76
Good @vbernardes! I think we can close this issue.

[2019-06-10 09:14] #76 closed, assigned to vbernardes

[2019-06-11 08:53] aschrijver commented on #81
This looks great on the main page, but the issue this has created is that the posts - when shown on their intended location below a blog post - now lack a gutter space between the second and third entry.

PS. The pull request for this issue was #87

[2019-06-11 14:14] bernardini687 commented on #81
Right! I'm having a look on it. Sorry!

[2019-06-11 16:10] bernardini687 commented on #81
I opened a Pull Request with the fix from my fork of the project.

[2019-06-12 12:50] aschrijver commented on #81
Thank you! Fixed in #88

[2019-06-12 12:50] #81 closed, assigned to nobody

[2019-06-12 13:57] bernardini687 commented on #81
You're welcome :)

[2019-06-13 08:41] micheleminno opened #89 "Change HTC logo and icons"
After talking with David Jay of CHT, we agree we can change HTC logo (now it's still the CHT one - see [here](https://community.humanetech.com/), top-left corner).

We need the following files:

- logo - The logo image at the top left of your site. Use a wide rectangular image with a height of 120 and an aspect ratio greater than 3:1. If left blank, the site title text will be shown.

- logo small

[2019-06-13 08:42] micheleminno commented on #89
[Here](https://github.com/humanetech-community/community-hub/tree/master/assets/images)'s what we have right now, currently used for [our website](https://humanetech.community).

[2019-06-13 08:44] micheleminno opened #90 "Add new London and Berlin meetups"
Update the meetups page (both text and map) with new events.

[2019-06-13 08:44] micheleminno commented on #90
- https://community.humanetech.com/t/london-consciously-digital-meetup/4149
- https://community.humanetech.com/t/humane-tech-meetup-berlin-1/4143/2

[2019-06-13 13:42] aschrijver commented on #89
The logo's we currently have are all in the Styleguide repo: https://github.com/humanetech-community/styleguide/tree/master/logos

[2019-06-13 13:46] aschrijver commented on #90
The Berlin meetup has been renamed. It is now in the Other meetups table and used to be called Ethical Tech.

PS. I think it is better to have issues that can be closed once the work is done, rather than have them be 'continuous'.

[2019-06-13 16:18] micheleminno commented on #53
https://community.humanetech.com/t/code-of-conduct-for-htc/3768/28

[2019-06-16 07:50] micheleminno commented on #90
Add user @quanders to Berlin meetup.

[2019-06-16 14:58] vbernardes commented on #90
Hi @micheleminno, thanks for the heads up. Please review #92.

[2019-06-17 07:13] #53 closed, assigned to nobody

[2019-06-18 13:35] micheleminno commented on #89
Icons updated.

[2019-06-18 13:35] #89 closed, assigned to micheleminno

[2019-06-19 14:59] micheleminno opened #93 "Add resources by Borja Moya"
Add his last videos as in https://community.humanetech.com/t/the-bm-show-interviews-and-original-content-videos-and-podcast/3852/13

[2019-06-26 19:04] patmatsu opened #94 "Blogpost by Biswa Aryal on cellphone use in traffic"
Kathmandu is the most populated city in Nepal. Most of the people use motorbikes to get around in the city, and almost all of them have cellphones. Sometimes there are traffic jams of three to five minutes. Even in that short time, people use their cellphones because they cannot wait. They are impatient.

When I ride my motorcycle, I observe other drivers and riders. On a one-kilometer route, I ea

[2019-06-26 19:21] patmatsu commented on #90
Please add this Berlin meetup info from Welf von Hören (@welf at the forum):

#humanetech meetup at CODE University of Applied Sciences Berlin, at the Factory Berlin Campus next to Görlitzer Park!

Sign up here: https://www.meetup.com/de-DE/Humane-Technology/events/262012137/

[2019-06-27 08:23] #94 closed, assigned to micheleminno

[2019-06-27 08:23] #79 closed, assigned to patmatsu

[2019-06-27 08:24] micheleminno opened #95 "How to add credits to an image?"
For images used in blog posts.

[2019-06-27 15:05] vbernardes commented on #90
Hi @patmatsu, that link refers to an event that was held on June 17th. From the [forum discussion](https://community.humanetech.com/t/humane-tech-meetup-berlin-1/4143/2), it seems they intend to make it a monthly event.
Maybe we should wait for the next event so we can put up the new Meetup link?

[2019-06-27 16:16] patmatsu commented on #90
Thanks for the question.

Welf said it has become a regular event due to the success of the first one.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, June 27, 2019 5:05 AM, Vítor Bernardes <notifications@github.com> wrote:

[2019-06-27 16:17] patmatsu commented on #90
Sorry, I read your message too quickly.

I will write to Welf and ask him.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, June 27, 2019 6:16 AM, matsueda <matsueda@protonmail.com> wrote:

[2019-06-28 08:46] #93 closed, assigned to nobody

[2019-06-30 23:31] patmatsu commented on #90
Here is what Welf said:

"There might also be other locations from time to time but I guess the main location is the one at CODE University, yes!"

Can we make the location the university?

[2019-07-01 09:29] aschrijver commented on #95
For the header image that is specified directly in the frontmatter you can use `caption` and specify a text. This appears at the bottom-right corner of the header image. Example:

[code]

For images that are inline in the content of the blog post there are the following options:

- [Image with Caption](https://mmistakes.github.io/minimal-mistakes/post%20formats/post-image-caption/) ([source](https

[2019-07-14 09:46] #67 closed, assigned to aschrijver

[2019-07-15 14:47] vbernardes commented on #90
Hi @patmatsu, I've updated the location of the Berlin meetup on the map to point to CODE University.

I don't think there's anything that needs to be done for the table on the [Meetup Chapters page](https://humanetech.community/activities/meetup-chapters/), right?

[2019-07-15 15:08] patmatsu commented on #90
Thank you, Vitor! Yes, you're right about the table.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, July 15, 2019 4:47 AM, Vítor Bernardes <notifications@github.com> wrote:

[2019-07-15 15:33] vbernardes commented on #90
Great, so I think it's okay to close this. Fixed by https://github.com/vbernardes/htc-map/commit/81d235634c64feb9585d83cbf159244f965c3470.

[2019-07-15 15:42] patmatsu commented on #90
I believe so, but perhaps the final word should come from Michele?

Thank you for the awesome work, Vitor.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, July 15, 2019 5:33 AM, Vítor Bernardes <notifications@github.com> wrote:

[2019-07-15 15:58] #90 closed, assigned to nobody

[2019-07-17 07:50] micheleminno opened #96 "Find a place for the podcast series"
I think under _Resources_ would be the best place. We could divide them into internal resources, like the podcast, and external ones, like those we have right now (links, articles, books, ...).

[2019-07-20 11:33] aschrijver opened #97 "Add London Meetup #4 to Upcoming events"
See: https://community.humanetech.com/t/humane-tech-london-meetup-4/4245

Add to Upcoming events and move existing events to Past events page
Add a section for Past events at the bottom of the Upcoming events page
Fix the Events link in the sidebar

[2019-07-20 11:45] aschrijver commented on #97
Done.

[2019-07-20 11:45] #97 closed, assigned to aschrijver

[2019-07-22 11:29] micheleminno commented on #96
I'm working on showing the podcast from our website.

[2019-07-22 15:55] micheleminno commented on #96
Under Resources, confirmed for now. Closing this issue.

[2019-07-22 16:06] micheleminno opened #98 "Add podcast project and podcast episode n.1"
Under Resources.

[2019-07-22 16:32] #96 closed, assigned to micheleminno

[2019-07-23 08:28] micheleminno opened #99 "Add blog post about the HTC podcast"
Small post describing the podcast series and announcing (and linking to) episode n.1.

[2019-07-23 14:04] #98 closed, assigned to micheleminno

[2019-07-24 08:38] micheleminno commented on #95
Ok, closing now. I applied it for some images in our blog posts, where there were some image credits:

- https://humanetech.community/2019/05/damaging-families-in-developing-countries
- https://humanetech.community/2019/07/new-htc-podcast-series

[2019-07-24 08:38] #95 closed, assigned to nobody

[2019-07-24 10:08] #99 closed, assigned to patmatsu

[2019-08-12 16:14] micheleminno opened #100 "Update forum FAQ"
Starting from [this template](https://community.humanetech.com/t/help-draft-our-community-faq-editable-wiki-post/3211). The existing text in FAQ can be moved to Contributing Guidelines and CoC.

[2020-03-05 15:34] aschrijver opened #101 "Slight change to mission statement for consistency"
Our member learner2020 remarked that Wellbeing, Freedom and Society are in wrong order in Docs article.

Since this sequence corresponds to our Mission statement, it should be adapted.

learner2020 comment:

We can argue that correct policies and design in a Society ensures Wellbeing and opens the doors to Freedom, a higher pursuit.

There are multiple places where corrections are in order. Need t

[2022-01-25 06:44] Polarisation opened #102 "Suggested new direction for website: digital minimalism"
The website hasn't been updated for a couple of years. It's is a work-in-progress and it looks that way.

However, if we search "humane tech" or "humane tech community" in a search engine, the website (humanetech.community) appears before the forum (community.humanetech.com) in results. I therefore feel a duty to ensure that the landing experience is helpful to visitors.

I can see that previously

[2022-02-01 10:26] micheleminno commented on #102
Hi @Polarisation, I agree with your analysis and suggestions.